
.weather-info {
  max-width: 600px;
  margin: 0 auto;
  border: 2px solid rgb(146, 146, 148);
  border-radius: 1rem;
  text-align: center;
}

.top-bar {
  padding: 15px 11px;
  width: 100%;
  position: relative;
  top: 5;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
}

.search-form {
  margin-top: auto;
}

.search-form label{
  font-size: 1.4rem;
}

.search-form input{
  font-size: 1rem;
  border-radius: 1rem;
  box-shadow: none;
  padding: 0.7rem;
  margin-bottom: 1.5rem;
  -webkit-transition: 0.6s;
  transition: 0.6s;
  background-color: rgb(0, 0, 0);
  border: solid 1px;
  margin-left: 2rem;
  margin-right: 2rem;
}

.search-form input:focus{
  background-color: rgb(255, 255, 255);
  color: black;
}

.search-form button {
  background-color: rgb(10, 10, 10);
  border: solid 2px rgb(163, 163, 163);
  outline: none;
  border-radius: 6px;
  padding: 1rem;
  font-size: 1rem;
  cursor: pointer;
}